.Section {
  display: grid;
  grid-template-columns: 380px 4fr;
  grid-template-rows: 150px auto;
  grid-gap: 0px 0px;
  grid-template-areas: 'watchlist search-bar''watchlist2 movie-list';
  min-width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
}

.WatchListBox {
  padding: 15px;
  grid-row: 2 span;
}

.SearchBar {
  padding: 15px;
  grid-area: search-bar;
}

.SearchBarBox {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
}

.Movies {
  grid-area: movie-list;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadMoreBtn {
  margin: 0;
  margin-top: 15px;
  box-sizing: border-box;
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #ff5722;
  border-radius: 6px;
  border: 1px dotted #fff;
  padding: 10px 20px 10px 20px;
  color: #fff;
}
